.aa{color:aliceblue}

.ag-header-cell-label {
    justify-content: center;
    text-align: center;
 }
 .grid-cell-centered-text {
    text-align: center;
  }

  .clr-form-control1 {
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   display: flex;
   flex-direction: initial;
   align-items: flex-end;
}